<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>TODOS</title>
    <meta name="theme-color" content="#6b7280">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-status-bar-style" content="#6b7280">
    <meta name="theme-color" content="black">
    <link id="favicon" rel="shortcut icon" type="image/png"
          href='/todo/static/favicon.png' />
    <link rel="stylesheet" as="style" crossorigin
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css" />
    <link rel="manifest" href='/todo/static/manifest.json' />
    <link
            type='text/css'
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
    />
    <link
            type='text/css'
            rel='stylesheet'
            href='/dist/app.bundle.css'>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</head>
<body>
<script type="module"
        src='/dist/app.bundle.js'></script>
<% if(locals.whoami) { %>
    <div class="whoami">
        <div class="whoami__container">
            <% if(locals.user && locals.whoami.id !== locals.user?.id) { %>
                <div class="whoami__info" id='user_<%= locals.user.id %>'>
                    <ion-icon class="whoami__info__icon" name="person"></ion-icon>
                    <div class="whoami__info__name"><%= locals.user?.name; %>
                        <ion-icon class="whoami__info__icon" name="chevron-forward-outline"></ion-icon>
                    </div>
                </div>
            <% } else { %>
                <div class="whoami__info" id='user_<%= locals.whoami.id %>'>
                    <ion-icon class="whoami__info__icon" name="person"></ion-icon>
                    <div class="whoami__info__name"><%= locals.whoami.name; %>
                        <ion-icon class="whoami__info__icon" name="chevron-forward-outline"></ion-icon>
                    </div>
                </div>
            <% } %>
            <% if(locals.user && locals.whoami.id !== locals.user?.id) { %>
                <% if(locals.url.includes('page')) { %>
                    <div class="whoami__buttons">
                        <button id='user_todo_<%= locals.user.id %>' class="whoami__buttons__todo">TODO 보기</button>
                        <button class="whoami__buttons__return">HOME</button>
                    </div>
                <% } else { %>
                    <div class="whoami__buttons">
                        <button class="whoami__buttons__search">검색<span class='mini__text'>(cmd+shift+.)</span></button>
                        <button class="whoami__buttons__return">HOME</button>
                    </div>
                <% } %>
            <% } else { %>
                <% if(locals.url.includes('archive')) { %>
                    <div class="whoami__buttons">
                        <button class="whoami__buttons__del_all">전체 삭제</button>
                        <button class="whoami__buttons__return">HOME</button>
                    </div>
                <% } else if(locals.url.includes('page')) { %>
                    <div class="whoami__buttons">
                        <button class="whoami__buttons__return">HOME</button>
                        <button class="whoami__buttons__logout">로그아웃</button>
                    </div>
                <% } else { %>
                    <div class="whoami__buttons">
                        <button class="whoami__buttons__search">검색<span class='mini__text'>(cmd+shift+.)</span></button>
                        <button class="whoami__buttons__archive">보관함</button>
                    </div>
                <% } %>
            <% } %>

        </div>
    </div>
<% } %>
<% if(locals.body) { %>
    <%- locals?.body; %>
<% } %>
</body>
</html>
